.jobListTableContainer{
    
    table{
        width: 100%;
        border-collapse: collapse;

        thead{
            border-bottom: 1px solid black;
            tr{
                th{
                    padding: 1rem;
                    font-size: 1.3rem;
                }

                .jobNameTitle{
                    text-align: left; 
                    div{
                        cursor: pointer;
                        svg{
                            margin-left: 1rem;
                        }
                    }
                    
                } 
                .priority{
                    text-align: center;
                    div{
                        cursor: pointer;

                        svg{
                            margin-left: 1rem;
                        }
                    }
                    
                }
                
            }
        }
        tbody{
            .noFilteredJob{
                color: crimson;
                font-weight: bold;
            }
            tr{
                &:nth-child(even){
                    background-color: #EEEEEE;
                }
                .jobName{
                    font-size: 1.1rem;
                }
                td{
                    padding:1rem 1rem;

                }
                .row{
                    text-align: center;
                }
                .priority{
                    padding:0.3rem 1rem;
                    border-radius: 10px;
                    font-weight: bold;
                }
                .urgent{
                    background-color: crimson;
                    color: white;
                }
                .regular{
                    background-color: orange;
                    color: white;
                }
                .trivial{
                    background-color: cornflowerblue;
                    color: white;
                }

                button{
                    padding: 0.5rem;
                    height: 2.5rem;
                    cursor: pointer;
                    background-color: transparent;
                    border: none ;
                }

                .delete{
                    &:hover{
                        fill:crimson
                    }
                }
                .edit{
                    margin-right: 1rem;
                    
                    svg{
                        &:hover{
                            fill: orange;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
       

    }
}


@media screen and (min-width:426px) and (max-width:768px) {
    .jobListTableContainer{
        overflow: scroll;
        table{
            thead{
                tr{
                    th{
                        padding: 0.5rem 0.2rem;
                        font-size: 0.8rem;
                    }
  
                    .jobNameTitle{
                       div{
                          font-size: 0.9rem;
                          display: flex;
                          align-items: center;
  
                          svg{
                              margin-left: 0.4rem;
                          }
                       }
                    }
                    .priority{
                        div{
                          font-size: 0.9rem;
                          display: flex;
                          align-items: center;
                          justify-content: center;
  
                          svg{
                              margin-left: 0.4rem;
                          }
                        }
                    }
                }
            }
  
            tbody{
                tr {
                  .jobName{
                    
                  }
                  .edit{
                      margin-right: 0;
                  }
                }
            }
        }
    }
}
@media screen and (min-width:376px) and (max-width:425px) {
    .jobListTableContainer{
        overflow: scroll;
        table{
            thead{
                tr{
                    th{
                        padding: 0.5rem 0.2rem;
                        font-size: 0.8rem;
                    }
  
                    .jobNameTitle{
                       div{
                          font-size: 0.9rem;
                          display: flex;
                          align-items: center;
  
                          svg{
                              margin-left: 0.4rem;
                          }
                       }
                    }
                    .priority{
                        div{
                          font-size: 0.9rem;
                          display: flex;
                          align-items: center;
                          justify-content: center;
  
                          svg{
                              margin-left: 0.4rem;
                          }
                        }
                    }
                }
            }
  
            tbody{
                tr {
                  .jobName{
                    
                  }
                  .edit{
                      margin-right: 0;
                  }
                }
            }
        }
    }
}

@media screen and (min-width:321px) and (max-width:375px) {
    .jobListTableContainer{
        overflow: scroll;
        table{
            thead{
                tr{
                    th{
                        padding: 0.5rem 0.2rem;
                        font-size: 0.8rem;
                    }
  
                    .jobNameTitle{
                       div{
                          font-size: 0.9rem;
                          display: flex;
                          align-items: center;
  
                          svg{
                              margin-left: 0.4rem;
                          }
                       }
                    }
                    .priority{
                        div{
                          font-size: 0.9rem;
                          display: flex;
                          align-items: center;
                          justify-content: center;
  
                          svg{
                              margin-left: 0.4rem;
                          }
                        }
                    }
                }
            }
  
            tbody{
                tr {
                  .jobName{
                    
                  }
                  .edit{
                      margin-right: 0;
                  }
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
  .jobListTableContainer{
      overflow: scroll;
      table{
          thead{
              tr{
                  th{
                      padding: 0.5rem 0.2rem;
                      font-size: 0.8rem;
                  }

                  .jobNameTitle{
                     div{
                        font-size: 0.9rem;
                        display: flex;
                        align-items: center;

                        svg{
                            margin-left: 0.4rem;
                        }
                     }
                  }
                  .priority{
                      div{
                        font-size: 0.9rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg{
                            margin-left: 0.4rem;
                        }
                      }
                  }
              }
          }

          tbody{
              tr {
                .jobName{
                  
                }
                .edit{
                    margin-right: 0;
                }
              }
          }
      }
  }
}