.modal{
    .jobName{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        span{
            font-weight: bold;
        }
    }
    .previusPriority{
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        span{
            font-weight: bold;
        }
    }
    .okButton{
        border: none !important;
        background-color:#00ADB5 !important ;
    }
    .cancelButton{
        &:hover{
            color: #00ADB5 !important;
            border-color: #00ADB5 !important;
        }
    }
    
    select{
        font-size: 1rem;
        font-weight: bold;
        width: 10rem;
        height: 2rem;
        outline: none;
    }
}